<%= form_for @message do |f| %>
  <% if @message.errors.any? %>
    <div class="error_messages">
      <h2>
        <%= I18n.t('activerecord.errors.header', :default => 'Invalid Fields') %>
      </h2>

      <p>
        <%= I18n.t('activerecord.errors.message', :default => 'Correct the following errors and try again.') %>
      </p>

      <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message.html_safe %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="user-fields">
    <legend>About You</legend>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :email_address %>
      <%= f.text_field :email_address %>
    </div>
  </fieldset>

  <fieldset class="feedback-fields">
    <legend>Leave Your Feedback</legend>

    <div class="field">
      <%= f.label :topic %>
      <%= f.text_field :topic %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  </fieldset>

  <%= f.submit %>
<% end %>
